In [2]:
import pandas as pd
import numpy as np
import math

In [3]:
x = [[0.3333, 0.6667, 0], 
     [0.6667, 0.3333, 0.1509],
     [0.6667, 0.3333, -0.1509]]

xa = np.array(x)

In [4]:
y = [[3.122, 3.122, 10.58],
     [3.122, 3.122, 10.58],
     [3.122, 3.122, 10.58]]

ya = np.array(y)

In [5]:
fa = xa*ya

fa[:, 0] = fa[:, 0] + 0.5 * fa[:, 1] 
fa[:, 1] = 0.86602540378 * fa[:, 1]

pd.DataFrame(fa)

          0         1         2
0  2.081281  1.802578  0.000000
1  2.601719  0.901154  1.596522
2  2.601719  0.901154 -1.596522

In [6]:
cx = np.array([3.122, 0, 0])
cy = np.array([1.561, 2.7037312988, 0])

In [28]:
Ma2 = fa[0]
Mb2 = cy + fa[0]
Mb1 = -1*cx + cy + fa[0]
Ma1 = -1*cx + fa[0]
Md2 = -1*cy + fa[0]
Md3 = 1*cx -1*cy + fa[0]
Ma3 = 1*cx + fa[0]
Mc1 = -cx + 2*cy + fa[0]

Mb2 = cy + fa[0]
Sc1 = -cx + 2*cy + fa[1]
sc1 = -cx + 2*cy + fa[2]
Sb1 = -cx + cy + fa[1]
sb1 = -cx + cy + fa[2]
Sb2 = cy + fa[1]
sb2 = cy + fa[2]

Sa2 = fa[1]
Sb2 = cy + fa[1]
Sb1 = -1*cx + cy + fa[1]
Sa1 = -1*cx + fa[1]
Ma2 = fa[0]
Ma3 = cx + fa[0]
Mb2 = cy + fa[0]
sa2 = fa[2]
sb2 = cy + fa[2]
sb1 = -1*cx + cy + fa[2]
sa1 = -1*cx + fa[2]
sc1 = -cx + 2*cy + fa[2]
Sc1 = -cx + 2*cy + fa[1]
Sa2 = fa[1]
Sb2 = cy + fa[1]
Sb1 = -1*cx + cy + fa[1]
Sa1 = -1*cx + fa[1]
Sd2 = -1*cy + fa[1]
Sd3 = 1*cx -1*cy + fa[1]
Sa3 = 1*cx + fa[1]

Mb3 = cx + cy + fa[0]

In [29]:
def dist(x, y):
    da = x - y
    d = np.sum(da*da)
    distmos = math.sqrt(d)
    print distmos

def ang(y, x, z):
    v1 = y-x
    v2 = z-x
    sqv1 = v1 * v1
    sqv2 = v2 * v2    
    magv1 = math.sqrt(np.sum(sqv1))
    magv2 = math.sqrt(np.sum(sqv2))

    ang = (np.dot(v1, v2))/(magv1*magv2)
    angle = (180/(math.pi))*math.acos(ang)
    print angle
    
def angleinfo(a, b, c):
    print ang(b, a, c)
    print dist(a, b)
    print dist(a, c)
    print dist(b, c)

In [40]:
def cal(x):
    print x - 0.5
    print x + 0.5
cal(1.9058)
cal(2.6229)
cal(3.182)

1.4058
2.4058
2.1229
3.1229
2.682
3.682

In [39]:
dist(Ma2, Sb1)

2.6229686525

In [41]:
dist(Ma2, Ma3)

3.122

In [42]:
dist(Sa1, Sa2)

3.122

In [46]:
angleinfo(Sa2, Ma2, Md3)

85.6095130392
None
1.90586013279
None
2.6229686525
None
3.12199998977
None

In [49]:
ang(Sa1, Ma2, sb1)

100.117109544

In [50]:
dist(Mb2, Ma2)

3.12199998977